.language {
	display: block;
	min-width: 140px;
	position: relative;
	text-align: center;
	padding: 0 6px;

	cursor: pointer;

	&__current {
		display: inline-flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;

		.language__image {
			width: 32px;
			height: 32px;
			margin: auto;

			object-fit: contain;
		}
	}

	&__left {
		display: inline-flex;
		height: 100%;
	}

	&__info {
		display: flex;
		margin-left: 8px;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-between;
	}

	&__name {
		display: inline-block;

		line-height: 28px;
		font-family: 'hamberger';
		font-size: 20px;

		color: #fff;
	}

	&__icon {
		--icon-param: 12px;

		display: inline-block;
		width: var(--icon-param);
		height: var(--icon-param);
		margin-left: 6px;

		font-size: var(--icon-param);
		line-height: var(--icon-param);

		color: #fff;
	}

	&__list {
		display: block;
		position: absolute;
		top: calc(100% + 14px);
		left: 0;
		right: 0;
		padding-top: 5px;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;

		opacity: 0;
		transform: scale(0.75, 0.5625);
		transition: opacity 230ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 153ms cubic-bezier(0.4, 0, 0.2, 1) 77ms;
		transform-origin: top center;

		background-color: rgba(12, 18, 25, 0.8);

		&.open {
			opacity: 1;
			transform: none;
			transition: opacity 230ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 153ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
		}
	}
}

.header_1 .main-nav ul > li.language__item {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 8px 14px;

	border: none;

	.language__image {
		width: 28px;
		height: 28px;
		margin: auto;

		object-fit: contain;
	}

	&:hover {
		.language__name {
			color: #f3c917;
		}
	}
}

@media only screen and (max-width: 991px) {
	.language__list {
		position: unset;
		background-color: transparent;
		padding-top: 15px;
	}

	.header_1 .main-nav ul > li.language__item {
		background-color: transparent;
		justify-content: center;
		padding: 12px 14px;
	}

	.language__name {
		font-size: 28px;
	}
}
