@font-face {
	font-family: 'hamberger';
	src: url('../font/hamberger.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'franklin';
	src: url('../font/FRADM.TTF') format('truetype'), url('../font/framd.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
