//Desktop
.character-box {
	margin-top: -30px;
	height: 756px;
	background-color: #333;
	background-size: auto;
	background-position: center top;
	background-repeat: no-repeat;
	padding-top: 80px;

	.container {
		width: 1500px;
	}

	.character-icons {
		max-width: 1000px;
		justify-content: center;
		margin: 0 auto;

		.icon-box {
			text-align: center;
			.img-icon {
				height: 60px;
				&:hover {
					cursor: pointer;
				}
			}

			.name {
				font-weight: bold;
				color: rgba($color: #fff, $alpha: 0.6);
				font-size: 18px;
				font-family: 'franklin';
				text-transform: uppercase;
			}

			&.active {
				.img-icon {
					height: 72px;
				}
				.name {
					color: #fff;
				}
			}
		}
	}

	.hero-slides {
		// background-color: #333;
		width: 100%;
		height: 460px;
		position: relative;

		.button-prev,
		.button-next {
			background-image: url('/assets/images/games/arrow_l.png');
			width: 65px;
			height: 100%;
			color: transparent;
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			left: 0;
			z-index: 10;

			&:hover {
				cursor: pointer;
			}
		}

		.button-next {
			background-image: url('/assets/images/games/arrow_r.png') !important;
			right: 0;
			left: auto !important;
		}

		.hero-box {
			padding-left: 65px;
			padding-right: 65px;
			width: 100%;
			height: 100%;
			position: relative;

			.character-image {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-image: url('/assets/images/characters/aura.png');
				background-repeat: no-repeat;
				background-position: center bottom;
				display: flex;
				justify-content: center;
				align-items: center;

				> img {
					height: 80%;
					opacity: 0;
				}
			}

			.des-box {
				width: 450px;
				background-image: url('/assets/images/characters/line-title.png');
				background-repeat: no-repeat;
				background-position: 0 35px;
				position: absolute;
				transform: translateX(-450px);
				opacity: 0;
				top: 30%;
				.title-sm-eg {
					font-family: 'hamberger';
					font-size: 32px;
					font-weight: 700;
					color: var(--primary-button);
					text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.16), 0px 8px 8px rgba(0, 0, 0, 0.12);
				}

				p {
					padding: 15px 105px 10px 5px;
				}
			}

			.skills-box {
				position: absolute;
				opacity: 0;
				right: 0%;
				top: 15%;
				display: flex;
				.skill-detail {
					padding-left: 10px;
					.skill-item {
						padding: 15px 0;
						img {
							width: 64px;
						}

						span {
							font-family: 'hamberger';
							font-size: 18px;
							font-weight: 700;
							color: #fff;
							margin-left: 10px;
							text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.16),
								0px 8px 8px rgba(0, 0, 0, 0.12);
						}
					}
				}
			}
		}
	}

	.hero-box.active {
		.des-box,
		.skills-box,
		.character-image > img {
			-webkit-transition: transform 0.5s ease, opacity 0.5s ease;
			-moz-transition: transform 0.5s ease, opacity 0.5s ease;
			-ms-transition: transform 0.5s ease, opacity 0.5s ease;
			-o-transition: transform 0.5s ease, opacity 0.5s ease;
			transition: transform 0.5s ease, opacity 0.5s ease;
			transition-duration: 1s;
			transition-delay: 0.2s;
			opacity: 1;
		}

		.des-box {
			transform: translateX(10%);
		}

		.skills-box {
			transform: translateX(-40%);
			transition-delay: 1s;
		}
	}
}

// Tablet
.character__box {
	margin-top: -2.8vw;
	position: relative;

	background-color: #333;

	.character__bg {
		width: 100%;
		padding-top: 45.625%;

		background: url('/assets/images/games/character-bg.png') no-repeat center center / contain;
	}

	.hero__actions {
		width: 100%;
	}

	.button-prev {
		width: 3.854167vw;
		position: absolute;
		top: 50%;
		left: 9%;

		transform: translateY(-50%);

		color: transparent;
		cursor: pointer;
		z-index: 10;
	}

	.button__prev-img {
		width: 100%;
		padding-top: 100%;

		background: url('/assets/images/games/arrow_l.png') no-repeat center center / contain;
	}

	.button-next {
		width: 3.854167vw;
		position: absolute;
		top: 50%;
		right: 9%;

		transform: translateY(-50%);

		color: transparent;
		cursor: pointer;
		z-index: 10;
	}

	.button__next-img {
		width: 100%;
		padding-top: 100%;

		background: url('/assets/images/games/arrow_r.png') no-repeat center center / contain;
	}

	.character__container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding-top: 5.3109vw;

		.title-eg {
			font-size: 2.29167vw;
			line-height: 1;
		}

		.character__icon-list {
			display: flex;
			justify-content: center;
			width: 100%;

			.character__icon-item {
				text-align: center;
				.img-icon {
					width: 3.125vw;
					height: 3.125vw;
					padding: calc((3.75vw - 3.125vw) / 2);
					box-sizing: content-box;
					&:hover {
						cursor: pointer;
					}
				}

				.name {
					font-weight: bold;
					color: rgba($color: #fff, $alpha: 0.6);
					font-size: 0.83333vw;
					line-height: 1.13375;
					font-family: 'franklin';
					text-transform: uppercase;
				}

				&.active {
					.img-icon {
						width: 3.75vw;
						height: 3.75vw;
						padding: 0;
					}
					.name {
						color: #fff;
					}
				}
			}

			.character__icon-item + .character__icon-item {
				margin-left: 3.3854vw;
			}
		}
	}

	// Character slide
	.hero-slides {
		width: 100%;
		margin-top: 4.5vw;

		.hero-box {
			margin: auto;
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;

			.character-image {
				.character__img {
					position: relative;
					width: 26.09375vw;

					&-aura {
						width: 100%;
						padding-top: 76.646%;

						background: url('/assets/images/characters/aura.png') no-repeat center center / contain;
					}
				}
				.character__img-hero {
					width: 100%;
					position: absolute;
					bottom: 0;
					left: 50%;

					transform: translateX(-50%);
					opacity: 0;
					transform-origin: bottom center;
				}
			}

			.des-box {
				width: 23.125vw;
				transform: translateX(-100%);
				opacity: 0;

				.info__line {
					width: 100%;
					padding-top: 10.6904%;

					background: url('/assets/images/characters/line-title.png') no-repeat center center / contain;
				}

				.title-sm-eg {
					font-family: 'hamberger';
					font-size: 1.6667vw;
					line-height: 1;
					font-weight: 700;
					color: var(--primary-button);
					text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.16), 0px 8px 8px rgba(0, 0, 0, 0.12);
				}

				p.des-large-eg {
					margin-top: -2vw;
					margin-right: 3.5vw;

					font-size: 0.9375vw;
					line-height: 1.55556;
				}
			}

			.skills-box {
				display: flex;
				opacity: 0;
				min-width: 23.125vw;

				.line__container {
					width: 10.2604vw;
				}

				.skill__line {
					width: 100%;
					padding-top: 113.70558%;

					background: url('/assets/images/characters/line-skin.png') no-repeat center center / contain;
				}

				.skill-detail {
					display: flex;
					flex-flow: column nowrap;
					padding-left: 0.729167vw;

					.skill-item {
						img {
							width: 3.33333vw;
							border-radius: 4px;
						}

						span {
							font-family: 'hamberger';
							font-size: 0.9375vw;
							font-weight: 700;
							color: #fff;
							margin-left: 0.78125vw;
							text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.16),
								0px 8px 8px rgba(0, 0, 0, 0.12);
						}
					}

					.skill-item + .skill-item {
						margin-top: 0.83333vw;
					}
				}
			}
		}
	}

	.hero-box.active {
		.des-box,
		.skills-box {
			-webkit-transition: transform 0.5s ease, opacity 0.5s ease;
			-moz-transition: transform 0.5s ease, opacity 0.5s ease;
			-ms-transition: transform 0.5s ease, opacity 0.5s ease;
			-o-transition: transform 0.5s ease, opacity 0.5s ease;
			transition: transform 0.5s ease, opacity 0.5s ease;
			transition-duration: 1s;
			transition-delay: 0.2s;
			opacity: 1;
		}

		.character-image .character__img-hero {
			-webkit-transition: opacity 0.5s ease;
			-moz-transition: opacity 0.5s ease;
			-ms-transition: opacity 0.5s ease;
			-o-transition: opacity 0.5s ease;
			transition: opacity 0.5s ease;
			transition-duration: 1s;
			transition-delay: 0.2s;
		}

		.des-box {
			transform: translateX(6.88836vw);
		}

		.skills-box {
			transform: translateX(-5.81948vw);
			transition-delay: 1s;
		}
	}
}

@media screen and (max-width: 991px) {
	/** Mobile */
	.character__box {
		margin-top: -8vw;

		.character__bg {
			width: 100%;
			background-size: cover;
			padding-top: 206%;
		}
		.character__container {
			padding-top: 15vw;

			.title-eg {
				font-size: 6.763285vw;
			}

			.character__icon-list {
				justify-content: center;
				align-items: center;
				width: 78.26088vw;
				margin-bottom: 20vw;

				.character__icon-item {
					text-align: center;
					.img-icon {
						width: 14.49275vw;
						height: 14.49275vw;
						padding: calc((17.3913vw - 14.49275vw) / 2);

						box-sizing: content-box;

						&:hover {
							cursor: pointer;
						}
					}

					.name {
						font-weight: bold;
						color: rgba($color: #fff, $alpha: 0.6);
						font-size: 3.36475vw;
						font-family: 'franklin';
						text-transform: uppercase;
					}

					&.active {
						.img-icon {
							width: 17.3913vw;
							height: 17.3913vw;
							padding: 0;
						}
						.name {
							color: #fff;
						}
					}
				}
			}
		}
		.button-next,
		.button-prev {
			width: 7.72948vw;
		}

		.button-prev {
			left: 3%;
		}

		.button-next {
			right: 3%;
		}

		.hero-slides {
			position: relative;

			.hero-box {
				position: relative;
				justify-content: flex-start;
				flex-flow: column nowrap;

				.character-image {
					position: relative;
					.character__img {
						width: 128%;
						left: 50%;
						transform: translateX(-50%);

						&-aura {
							width: 100%;
							padding-top: 76.646%;

							background: url('/assets/images/characters/aura.png') no-repeat center center / contain;
						}
					}
					.character__img-hero {
						position: absolute;
						width: 100vw;
					}
				}

				.des-box {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					padding: 0 3.864734vw;

					transform: translateY(100%);

					p.des-large-eg {
						font-size: 3.8164vw;
						margin-right: 0;
						line-height: 1.5;
					}
				}

				.skills-box {
					position: absolute;
					min-width: unset;
					bottom: -9vw;
					left: 0;

					.skill-detail {
						width: 100vw;
						position: absolute;
						top: 35%;
						left: 0;

						display: flex;
						flex-flow: row nowrap;
						justify-content: center;

						transform: translateY(-50%);

						.skill-item {
							display: flex;
							align-items: center;

							img {
								width: 18.05556vw;
							}
						}

						.skill-item + .skill-item {
							margin-left: 4.1677vw;
						}
					}
				}
			}
		}

		.hero-box.active {
			.des-box,
			.skills-box,
			.character-image > img {
				opacity: 1;
			}

			.skills-box {
				transform: translateX(0);
			}
		}
	}
}
