.home__section {
	--header-height: 68px;

	width: 100%;
	margin-top: -3vw;
	position: relative;

	z-index: 100;
}

.home__background {
	width: 100%;
	padding-top: 150.5729%;
	background: url('/assets/images/games/feature-bg.png') no-repeat top center / contain;
}

.home-feature {
	position: absolute;
	top: 5vw;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);

	.video-box {
		margin: 0 auto;
		width: 50.6%;
		position: relative;

		.video-frame {
			background: url('/assets/images/games/video-frame.png') no-repeat center center / contain;
			padding-top: 61.25%;
			width: 100%;
			transform: scaleY(1.03);
		}

		iframe {
			position: absolute;
			top: 53.5%;
			left: 49.9%;
			width: 95.1%;
			height: 87.3%;
			transform: translate(-50%, -50%);
		}
	}

	.about__container {
		position: relative;
		width: 71.4%;
		margin: 6.7969vw auto 0;

		.scroll-to__area {
			position: absolute;
			top: calc(0px - 6.7969vw - var(--header-height));
		}

		.about__main-bg {
			width: 100%;
			padding-top: 90.292%;
			background: url('/assets/images/games/about-big-bg.png') no-repeat center center / contain;
		}

		// About's Section 1
		.about__section-1 {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}

		.about__section-container {
			display: flex;
			flex-flow: row nowrap;
		}

		img.about-icon {
			margin-top: 0;
			margin-right: 1.3648vw;
		}

		.about-icon {
			display: inline-block;
			width: 2.0833vw;
			height: 2.0833vw;
			object-fit: contain;
		}

		.title-eg {
			font-size: 2.2917vw;
			line-height: 1;
		}

		p.des-large-eg {
			font-size: 1.2vw;
			line-height: 1.45;
			text-align: justify;
		}

		.multiPlay__container {
			width: 65.1095%;
			margin: 0 auto;
			transform: translateY(-3.0731vw);
		}

		.multiPlay__img {
			width: 100%;
			padding-top: 98.6547%;
		}

		.about__container--sub {
			width: 100%;
			position: absolute;
			top: 30.3846%;
			left: 0;
		}
		.about__sub-bg {
			width: 100%;
			padding-top: 62.8467%;

			background: url('/assets/images/games/about-sub-bg.png') no-repeat center center / contain;
		}

		// About's section 2
		.about__section-2 {
			position: absolute;
			top: 0;
			left: 0;

			.higherJob__container {
				width: 73.2846%;
				margin: 0 auto;
				transform: translate(-3.2258vw, -1vw);
			}

			.higherJob__img {
				margin-top: 2vw;
				width: 100%;
				padding-top: 98.28897%;
			}
		}

		// About's section 3
		.about__section-3 {
			position: absolute;
			top: 57.1823%;
			left: 0;

			.land__container {
				width: 73.238%;
				transform: translate(3.598vw, -11.9107vw);
			}

			.land__img {
				margin-top: 2vw;
				width: 100%;
				padding-top: 108.7649%;
			}
		}
	}

	.point {
		--distance-value: calc(0px - 4.7197vw - 6.0584%);
		width: 4.7197vw;
		height: 4.7197vw;
		position: absolute;
		top: 35%;
		left: var(--distance-value);

		&.right {
			right: var(--distance-value);
			left: auto;
		}
	}

	.about--elo {
		margin: 8vw auto 0;
		max-width: 59.791667%;
		width: 59.791667%;
		position: relative;

		.scroll-to__area {
			position: absolute;
			top: calc(0px - 4.9479vw - var(--header-height));
		}

		.title-eg.shadow {
			margin-bottom: 1.25vw;

			font-size: 2.2917vw;
			line-height: 1;
		}

		p.des-large-eg {
			font-size: 0.9926vw;
			line-height: 1.5555556;
		}
	}
}

@media only screen and (max-width: 991px) {
	.home__section {
		margin-top: -6.9vw;
	}

	.home__background {
		padding-top: 420.2899%;
		background: url('/assets/images/games/feature-mobile-bg.png') no-repeat top center / contain;
	}
	.home-feature {
		top: 14.4928vw;

		.video-box {
			width: 92%;
		}

		.feature-tabs {
			position: absolute;
			top: 7.264%;
			left: 0;
			width: 100%;

			.react-tabs__tab-list {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 4.4809vw;
				> li {
					> img {
						width: 7.7295vw;
						margin: calc((9.6618vw - 7.7295vw) / 2);
						opacity: 0.5;
					}

					&.react-tabs__tab--selected {
						> img {
							width: 9.6618vw;
							margin: 0;
							opacity: 1;
						}
					}
				}
				li + li {
					margin-left: 7.7295vw;
				}
			}
		}

		.about__container {
			width: 92.2705%;
			margin-top: 12.5604vw;

			.scroll-to__area {
				position: absolute;
				top: calc(0px - 12.5604vw - var(--header-height));
			}

			.about__mobile-bg {
				width: 100%;
				padding-top: 187.4346%;

				background: url('/assets/images/games/about-bg-mobile.png') no-repeat top center / contain;
			}

			.title-eg {
				font-size: 6.7633vw;
				line-height: 1;
			}

			p.des-large-eg {
				margin: 0 5.7971vw;

				font-size: 3.3816vw;
				line-height: 1.5;
			}

			.multiPlay__container--mobile {
				width: 100%;
			}

			.multiPlay__img--mobile {
				width: 100%;
				padding-top: 90.5759%;
			}

			.higherJob__container--mobile {
				margin-top: 14.4927vw;
				width: 100%;
			}

			.higherJob__img--mobile {
				width: 100%;
				padding-top: 98.28897%;
			}

			.land__container--mobile {
				width: 94.5026178%;
				margin-left: 2.1739vw;
				margin-right: 2.8986vw;
			}

			.land__img--mobile {
				margin-top: 5vw;
				width: 100%;
				padding-top: 108.5873%;
			}
		}

		.point {
			display: none;
		}

		.about--elo {
			margin: 12.5604vw auto 0;
			max-width: 92.2705vw;
			width: 92.2705vw;

			.scroll-to__area {
				top: calc(0px - 12.5604vw - var(--header-height));
			}

			.title-eg.shadow {
				margin-bottom: 5.7971vw;

				font-size: 6.7633vw;
				line-height: 1;
			}

			p.des-large-eg {
				font-size: 0.9926vw;
				line-height: 1.5555556;
			}

			img {
				width: 100%;
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.home__section {
		--header-height: 88px;
	}
}
