#footer {
	padding: 50px 0;
	background-size: cover;

	.logo {
		max-width: 215px;
		margin: 0 auto;
	}

	.form-subcribe {
		margin: 0 auto;
		max-width: 450px;
		.form__container {
			display: flex;
			align-items: center;
			background-color: #fff;
			height: 48px;
			margin: 0 5px;
			border-radius: 4px;
			overflow: hidden;
		}

		.mc-field-group {
			flex: 1;
		}

		input.subscribeEmail {
			border-radius: 4px;
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 16px;
			font-style: italic;
			border: none !important;
			outline: none !important;
		}

		.button {
			background-color: var(--primary-button);
			border: none;
			border-radius: 0 4px 4px 0;
			padding: 14px 18px !important;
			color: #703019;
			font-size: 2.1rem;
			height: 100%;
			border-radius: 4px;
		}
	}

	.title-eg {
		font-size: 28px;
	}
}
