body,
button,
input,
select,
textarea {
	font-family: 'franklin';
}

@media (min-width: 1200px) {
	.container {
		width: 1370px;
		max-width: 100%;
	}
}

.sc-button.btn-eg {
	background-color: #f3c917 !important;
	border-radius: 4px;
	border: none;
	color: #703019;
	font-size: 20px;
	font-family: 'hamberger';
}

.title-eg {
	font-family: 'hamberger';
	font-size: 44px;
	color: #f3bf16;
	margin-bottom: 20px;
	text-transform: uppercase;

	> img {
		margin-right: 10px;
		margin-top: -5px;
	}

	&.sm-text {
		color: #fff;
		font-size: 24px;
	}

	&.shadow {
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.16), 0px 8px 8px rgba(0, 0, 0, 0.12);
	}
}

p.des-large-eg {
	font-size: 18px;
	color: #f8f9fb;
	font-weight: 400;

	&.shadow {
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
	}
}

/* Animation class name */
.reveal {
	position: relative;
	opacity: 0;
	transition: all 0.5s ease-in;
}

.reveal.active {
	opacity: 1;
}
.fade-bottom {
	transform: translateY(50px);
	&.active {
		transform: translateY(0);
	}
}
.fade-left {
	transform: translateX(-100px);
	&.active {
		transform: translateX(0);
	}
}
.fade-right {
	transform: translateX(100px);
	&.active {
		transform: translateX(0);
	}
}

@keyframes fade-bottom {
	0% {
		transform: translateY(50px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes fade-left {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fade-right {
	0% {
		transform: translateX(100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@media only screen and (max-width: 991px) {
	.title-eg {
		font-size: 28px;
	}

	p.des-large-eg {
		font-size: 14px;
	}
}
