.header_1 {
	height: 68px;
	border: none;
	background: rgba(12, 18, 25, 0.8);

	&.is-fixed {
		background: rgba(12, 18, 25, 0.8);
	}

	.main-logo > img {
		height: 84px;
		margin-top: 6px;
	}

	.main-nav {
		left: auto;
		right: 0;
		ul > li {
			padding: 16.8px 20px;

			&.btn-header {
				padding: 9px 0;
				margin-right: 5px;
			}

			> a {
				line-height: 28px;
				font-family: 'hamberger';
				font-size: 20px;
				padding: 0 8px;
				display: inline-block;

				&.btn-eg {
					color: #703019;
					padding: 10px 20px;
				}
			}
		}
	}
}

.nav__social {
	display: none;
}

@media (min-width: 991px) {
	.hide-on-desktop {
		display: none;
	}

	.header_1 {
		.main-nav {
			.menu-item.active {
				position: relative;

				a {
					color: #f3bf16;
				}

				&::after {
					content: '';
					width: 45%;
					height: 4px;

					position: absolute;
					bottom: 0;
					left: 50%;

					background-color: #f3bf16;
					transform: translateX(-50%);
				}
			}
		}
	}
}

@media only screen and (max-width: 991px) {
	.hide-on-mobile {
		display: none;
	}
	.header_1 {
		z-index: 9999;
		.mobile-button {
			color: #fff;
			z-index: 5;
		}
		.main-nav {
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			padding-top: 88px;
			display: flex;
			flex-flow: column nowrap;
			align-items: center;

			background: rgba(28, 30, 54, 0.92);
			z-index: 1;
		}

		.nav__content {
			padding-top: 107px;
			overflow: overlay;
			overscroll-behavior: contain;
			scroll-behavior: smooth;

			&::-webkit-scrollbar {
				display: none;
			}

			&:hover::-webkit-scrollbar {
				display: block;
				width: 0px;
			}

			/* Track */
			&::-webkit-scrollbar-track {
				border-radius: 10px;
				background: transparent;
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
				border-radius: 10px;
				background: #888;
			}

			/* Handle on hover */
			&::-webkit-scrollbar-thumb:hover {
				background: #555;
			}
		}

		#site-logo {
			position: relative;
			height: 88px;
			z-index: 3;
		}

		.main-nav ul.menu {
			width: 100%;
		}

		.main-nav ul > li.btn-header,
		.main-nav ul li {
			padding: 38px 20px;
			background-color: transparent;
			border: none;
		}

		.main-nav ul > li > a {
			display: inline-block;
			width: 100%;

			text-align: center;
			font-weight: 700;
			font-size: 32px;
			line-height: 28px;

			color: #fff;
		}

		#site-logo-inner {
			position: unset;
			transform: unset;
			width: 107px;
		}

		.main-logo > img {
			height: 72px;
		}

		.sc-button.btn-eg {
			background-color: transparent !important;
		}

		.main-nav ul > li > a.btn-eg {
			color: #fff;
		}
	}

	.nav__social {
		display: block;
		width: 100%;
		margin-top: 94px;
	}

	.nav__social-title {
		display: block;
		width: 100%;

		font-size: 2.4rem;
		line-height: 3.2rem;
		text-align: center;

		color: #a0a9c5;
	}
	.main-nav ul.nav__social-list {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
		margin: 16px 70px 150px;
	}

	.header_1 .main-nav ul li.nav__social-item + .header_1 .main-nav ul li.nav__social-item {
		margin-right: 36px;
	}
	.header_1 .main-nav ul li.nav__social-item {
		padding: 0;

		i {
			display: inline-block;
			height: 28px;
			width: 28px;
		}
	}
	.roadmap-box .roadmap-inner div.container {
		position: initial;
	}

	.roadmap-box .roadmap-inner .container img.top-img {
		top: 22%;
		right: 0;
		left: unset;
	}
}
