.investor-box {
	position: absolute;
	left: 50%;
	top: 59.9077%;
	width: 59.3229%;
	transform: translateX(-50%);

	display: flex;
	flex-flow: column nowrap;
	align-items: center;

	.title-eg {
		font-size: 2.2917vw;
		line-height: 1;
		margin-bottom: 2vw;
	}

	.item {
		padding: 1vw 0;
		.title-eg {
			font-size: 1.25vw !important;
			line-height: 1 !important;
			color: #fff !important;
		}

		h3 {
			margin-bottom: 0;
		}
	}

	.point {
		position: absolute;
		top: 50%;
		left: -12%;
		width: 4.791vw;
		height: 4.791vw;

		&.right {
			right: -12%;
			left: auto;
		}
	}

	.investor__image {
		object-fit: contain;
		margin: auto;
		width: min(10vw, 100%);
		height: auto;
	}
}

@media only screen and (max-width: 991px) {
	.investor-box {
		top: 76.134%;
		width: 100%;

		.title-eg {
			font-size: 6.7633vw;
			line-height: 1;
			margin-bottom: 2vw;
		}

		.item {
			padding: 2vw 0;
			.title-eg {
				font-size: 3.8647vw !important;
				line-height: 1 !important;
				color: #fff !important;
			}
		}
		.investor__image {
			width: min(20vw, 100%);
		}
	}
}
