.roadmap-box {
	width: 100%;
	margin-top: -2.4vw;
	position: relative;
	z-index: 2;

	.roadmap__bg {
		background: url('/assets/images/games/roadmap-box-bg.png') no-repeat center center / contain;
		width: 100%;
		padding-top: 79.0204%;
	}

	.roadmap-inner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding-top: 9.6094vw;

		.roadmap__container {
			width: 71.3542%;
			position: relative;
			margin: auto;

			.roadmap__container-bg {
				width: 100%;
				padding-top: 43.5036%;

				background: url('/assets/images/games/roadmap-bg.png') no-repeat center center / contain;
			}

			.roadmap__container-content {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;

				.title-eg {
					margin-top: 2.9167vw;
					font-size: 2.291vw;
					line-height: 1;
				}

				.roadmap__img-box {
					width: 80.073%;
					margin: 0 auto;
				}

				.roadmap__img {
					margin-top: 2.5vw;
					width: 100%;
					padding-top: 36.9467%;
				}
			}

			h2 {
				text-align: center;
			}

			.top-img {
				position: absolute;
				top: -15%;
				left: -20%;
				width: 24.46875vw;

				z-index: 2;
			}

			.bottom-img {
				position: absolute;
				bottom: -22.5%;
				right: -12%;
				width: 22.5vw;

				z-index: 2;
			}
		}
	}
}

.roadmap {
	&__box {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-end;
	}

	&__pad {
		display: block;
	}

	&__graph {
		display: flex;
		justify-content: center;
	}
	&__item {
		width: fit-content;
		height: fit-content;
		display: flex;
		flex-flow: row nowrap;
	}

	&__right {
		display: flex;
		width: 2.0833vw;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: flex-end;
		transform: translateY(0.9375vw);
		z-index: 2;

		span.circle-line {
			display: block;
			width: 0.20833vw;
			height: 6.6667vw;

			background: linear-gradient(180deg, #f3bf16 0%, rgba(243, 191, 22, 0) 91.47%);

			position: relative;

			&::before {
				content: '';
				display: block;
				width: 0.41677vw;
				height: 0.41677vw;

				border-radius: 999px;

				background-color: #f3bf16;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, -95%);
			}
		}

		.diamond-icon {
			height: 2.0833vw;
			width: 2.0833vw;
			margin-top: 0.625vw;

			background-size: contain;
			background-repeat: no-repeat;

			transform: scale(1.4);
		}
	}

	&__left {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: flex-end;
		flex: 1;
	}

	&__header {
		width: 100%;
	}

	&__title {
		font-size: 1.25vw;
		line-height: 1;
		font-weight: 700;
		font-family: 'Hamberger';
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);

		color: #f3bf16;
	}

	&__content {
		width: 100%;
		min-width: 5.7292vw;
		min-height: 5vw;
		margin: 0.2vw 0 0.9vw;
		padding-right: 0.5208vw;
	}

	&__list {
		margin-top: auto;

		&-item {
			font-size: 0.7292vw;
			line-height: 1.5;
			padding-left: 1.28571429em;
			max-width: 9.8958vw;

			text-indent: -1.28571429em;
			list-style: disc inside;
			color: #e7e7f1;
			text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.16), 0px 8px 8px rgba(0, 0, 0, 0.12);

			span {
				margin-left: -5px;
			}
		}
	}

	&__footer {
		width: 100%;
		height: 2.0833vw;
		overflow: hidden;
	}

	&__curve {
		display: block;
		width: 100%;
		height: 4.16667vw;
		border: solid 0.15625vw;
		border-color: #f3bf16 transparent transparent;
		border-radius: 100% 0 0 / 100% 0 0;
		transform: scaleX(1.55);
		z-index: 1;
	}
}

.diamond-icon--mobile {
	display: none;
}
.circle-line--mobile {
	display: none;
}

.hook-line--mobile {
	display: none;
}

@media only screen and (max-width: 991px) {
	.hide-on-mobile {
		display: none !important;
	}

	.roadmap-box {
		margin-top: -2vw;

		.roadmap__bg {
			background: url('/assets/images/games/roadmap-main-bg-mobile.png') no-repeat center center / contain;
			padding-top: 278.2609%;
		}

		.roadmap-inner {
			padding-top: 11.3527vw;

			.roadmap__container {
				width: 92.2705%;

				.roadmap__container-bg {
					background: url('/assets/images/games/roadmap-bg-mobile.png') no-repeat center center / contain;
					padding-top: 204.9738%;
				}

				.roadmap__container-content {
					.title-eg {
						margin-top: 8.5604vw;
						font-size: 6.6733vw;
						margin-bottom: 3.38164vw;
					}
				}

				.top-img {
					top: 42vw;
					right: -4.2%;
					left: unset;
					width: 45vw;
					object-fit: contain;
					max-height: unset;
					transform: scaleX(-1);
				}
			}

			.roadmap-tabs {
				.react-tabs__tab-list {
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 0 6.2802vw 3.8647vw;
					background-color: #0c3778;
					clip-path: polygon(5% 0, 100% 0, 100% 0, 100% 70%, 96% 100%, 0 100%, 0 30%);

					> li {
						padding: 2.6529vw;
						text-align: center;
						font-size: 4.8309vw;
						line-height: 1.4;
						color: #fff;
						text-align: center;
						flex-grow: 1;

						.btn-tab {
							width: 100%;
						}

						&.react-tabs__tab--selected {
							> img {
								max-width: 100%;
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}

	.roadmap {
		&__tab-item {
			background: #0c3778;
			color: #f8f9fb;
			opacity: 0.72;

			&.active {
				background: linear-gradient(180deg, #c2001f -5.81%, #b60016 116.28%);
				color: #f8f9fb;
				opacity: 1;
			}
		}

		&__graph {
			flex-direction: column;
			padding: 8.4647vw 6.2802vw 0;
		}

		&__pad {
			display: none;
		}

		&__item {
			width: 100%;
		}

		&__right {
			transform: translateY(-0.8vw);
			justify-content: flex-start;
			position: relative;
			width: 7.7295vw;

			.diamond-icon--mobile {
				width: 7.7295vw;
				height: 7.7295vw;
				display: block;
				z-index: 2;
				position: relative;
			}
			.circle-line--mobile {
				display: block;
				height: 100%;
				width: 0.9662vw;
				background: #6c5840;
				transform: scaleY(1.28);

				&.passed {
					background: #f3bf16;
				}
			}

			.hook-line--mobile {
				position: absolute;
				width: 0.9662vw;
				background: #6c5840;

				&.first {
					display: block;
					top: -9px;
					height: 30px;
					background: #f3bf16;

					&::before {
						content: '';
						width: 3.8647vw;
						height: 3.8647vw;
						position: absolute;
						top: 0;
						left: 50%;

						border: solid 0.7246vw #6c5840;
						border-radius: 50%;

						transform: translate(-50%, -100%);
					}
				}

				&.last {
					display: block;
					height: calc(100% - 11vw);
					margin-top: 4.8309vw;

					&::after {
						content: '';
						width: 3.8647vw;
						height: 3.8647vw;
						position: absolute;
						bottom: 0;
						left: 50%;

						border: solid 0.7246vw #6c5840;
						border-radius: 50%;

						transform: translate(-50%, 100%);
					}
				}
			}

			.head-arrow {
				position: absolute;
				bottom: -9%;
				left: 50%;
				width: 4.8309vw;
				height: 5.7971vw;
				transform: translate(-50%, 100%);
				z-index: 5;

				img {
					width: 100%;
				}
			}
		}

		&__left {
			margin-bottom: 1vw;
			margin-left: 3.6231vw;
		}

		&__title {
			letter-spacing: 0.03rem;
			font-size: 5.7971vw;
			line-height: 1.2083;
		}

		&__content {
			min-height: initial;
		}

		&__list {
			&-item {
				max-width: 80%;
				padding-top: 0;
				padding-bottom: 0;

				font-size: 3.3816vw;
				line-height: 1.5;
				text-shadow: none;
			}
		}

		&__footer {
			display: none;
		}
	}
}
