.video-banner {
	position: relative;

	video {
		margin-bottom: 0;
		width: 100%;
	}

	.banner-box {
		position: relative;
	}
	.banner__logo {
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.content {
		height: 100%;
		width: 100%;
		position: absolute;
		box-shadow: 0 -9vw 4vw rgba(6, 19, 51, 0.6) inset;
		top: 0;

		/* background: rgb(0, 62, 157);
    background: linear-gradient(
      0deg,
      rgba(12, 18, 25, 0.9) 0%,
      rgba(255, 255, 255, 0) 100%
    ); */
		.inner {
			width: 100%;
			position: absolute;
			bottom: 0;
			z-index: 101;

			> div {
				.des-large-eg {
					position: relative;
					margin: 0 auto;
					font-size: 1.25vw;
					max-width: 720px;
				}
				.btn-eg {
					display: inline-block;
					min-width: 12.3958vw;
					margin: 0px 0.78125vw;
					padding: 0.68vw 0.8333vw;

					font-size: 1.041667vw;
					line-height: 1.4;
					font-family: 'franklin';

					&.text--small {
						font-size: 0.9372vw;
						line-height: 1.55556;
					}
				}
			}
		}
	}

	.banner__social {
		position: fixed;
		width: 3.2%;
		max-width: 60px;
		top: 50%;
		right: 40px;
		transform: translateY(-50%);
		z-index: 102;
		&-list {
			width: 100%;
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			justify-content: space-between;
		}

		&-item {
			width: 100%;
			padding: 1;
			margin-top: 8px;
			opacity: 0.8;

			&:hover {
				opacity: 1;
			}

			&:first-child {
				margin-top: 0;
			}
		}

		&-link {
			display: inline-block;
			width: 100%;
			padding-top: 86.66667%;
			position: relative;

			border-radius: 4px;
			background-color: rgb(248, 249, 251);

			i {
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				font-size: 2.4rem;
				line-height: 1.83rem;

				color: #203246;
			}
		}
	}

	.action__container {
		display: flex;
		width: 100%;
		padding-top: 1vw;

		button.scroll__btn {
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			margin: 0 auto;
			padding: 0.78125vw 2.03125vw;

			background-color: transparent;
			border: none;

			.icon__box {
				animation: mouseBounce 2s ease infinite;
				width: 1.66667vw;
			}

			.scroll__icon {
				width: 100%;
				padding-top: 137.5%;

				background: url('/assets/images/games/Mouse-scrool.png') no-repeat center center / contain;
			}
		}
	}
}

@keyframes mouseBounce {
	from,
	0%,
	25%,
	55%,
	75%,
	100%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		transform: translate3d(0, 0, 0);
	}

	45% {
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: translate3d(0, -0.6vw, 0);
	}

	65% {
		animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
		transform: translate3d(0, -0.4vw, 0);
	}

	90% {
		transform: translate3d(0, -0.25vw, 0);
	}
}

@media only screen and (max-width: 991px) {
	.video-banner {
		height: 500px;

		video {
			height: 100%;
			max-width: inherit;
			position: absolute;
			left: calc((100vw - 1920 / 872 * 500px) / 2);
			width: unset;
		}

		.content {
			.inner {
				bottom: calc(10% - 4vw);

				> div {
					.des-large-eg {
						position: relative;
						margin: 0 auto;
						font-size: 16px;
						max-width: 720px;
					}
					.btn-eg {
						display: inline-block;
						width: 30%;
						min-width: unset;
						margin: 0px 3vw;
						padding: 1.4vw 0;
						font-size: 18px;
						font-family: 'franklin';

						&.text--small {
							font-size: 3.8647vw;
						}
					}
				}
			}
		}

		.action__container {
			margin-top: 4vw;
			button.scroll__btn {
				.icon__box {
					width: 4.5894vw;
				}
			}
		}
	}
}
