.video-bg-box {
	margin-top: -1.6vw;
	z-index: 1;
	position: relative;
	video {
		margin-bottom: 0;
		width: 100%;
	}
	.border {
		height: 4px;
		background: linear-gradient(359.99deg, #f5d36c 0.02%, #fae691 52.08%, #b27904 52.09%, #b27904 100%);
	}
}
